Question 1:-

Given an array A of N numbers (int), WAP which prints the multiplication of the
elements of array A with the corresponding elements of the reverse of array A.
If A = [1,2,3], then reverse of A will be [3,2,1] and the result should be [3,4,3].
Input Format:
The first line of the input contains a number N The second line of the input contains
N numbers separated by a space. (after the last elements, there is no space)
Output Format:
Print the resultant array of elements separated by a space. (no space after the last
element)

In [ ]:
A=[1,2,3]
B=[]
C=[]
for i in range(len(A)-1,-1,-1):
    B.append(A[i])
print("A = ",A)
print("B = ",B)

for i in range (len(A)):
    C.append(A[i]*B[i])

for i in range (len(C)):
    if(i!=len(C)-1):
        print(C[i],end=' ')
    else:
        print(C[i])

A =  [1, 2, 3]
B =  [3, 2, 1]
3 4 3

Question 2:-

Given a list of numbers (integers), find second maximum and second minimum in
this list.
Input Format:
The first line contains numbers separated by a space.
Output Format:
Print the second maximum and second minimum separated by a space

In [ ]:
A=[int(x) for x in input("Enter the values").split(" ")]
print(A)
A=sorted(A)
print(A)
print(A[-2]," ",A[1])

Enter the values1 4 7 3
[1, 4, 7, 3]
[1, 3, 4, 7]
4   3

Question 3:-

Given a list A of numbers (integers), you have to print those numbers which are not
multiples of 5.
Input Format:
The first line contains the numbers of list A separated by a space.
Output Format:
Print the numbers in a single line separated by a space which are not multiples of 5.
Example:
Input:
1 2 3 4 5 6 5
Output:
1 2 3 4 6
Explanation:
Here the elements of A are 1,2,3,4,5,6,5 and since 5 is the multiple of 5, after removing
them the list becomes 1,2,3,4,6.

In [ ]:
A=[int(x) for x in input("Enter the digits ").split()]
for i in A:
    if(i%5!=0):
        print(i,end=' ')

Enter the digits 1 2 5 8 10
1 2 8

Question 4:-

You are given a number A which contains only digits 0’s and 1’s. Your task is to
make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is
possible to make all the digits same by just flipping one digit then print ’YES’ else
print ’NO’.
Input Format:
The first line contains a number made up of 0’s and 1’s.
Output Format:
Print ’YES’ or ’NO’ accordingly without quotes.
Example:
Input:
101
Output:
YES
Explanation:
If you flip the middle digit from 0 to 1 then all the digits will become same. Hence
output is YES.

In [ ]:
zeroes,ones=0,0
A=input("enter a binary number:-")
for i in range(len(A)):
    if(A[i]=='0'):
        zeroes+=1
    else:
        ones+=1
if(zeroes==1 or ones==1):
    print("YES")
else:
    print("NO")

enter a binary number:-1011
YES

Question 5:-

Given an integer number n, you have to print the factorial of this number.
Input Format:
A number n.
Output Format:
Print the factorial of n.
Example:
Input:
4
Output:
24

In [ ]:
def fact(num):
    if(num>=1):
        return(num*fact(num-1))
    else:
        return 1
    
number=int(input("Enter a number:- "))
print(fact(number))

Enter a number:- 4
24

Question 6 :-

Write a program, which will find all such numbers between m and n (both included)
such that each digit of the number is an even number.
Input Format:
The first line contains value m and n separated by a comma.
Output Format:
The numbers obtained should be printed in a comma-separated sequence on a single
line.
Constraints:
1000<=m<=9000
1000<=n<=9000

In [1]:
m,n=input("Range of the numbers:-").split(" ")
A=[]
def even_digit(num):
    count=0
    for i in str(num):
        if (int(i)%2==0):
            count+=1
        if(count==len(str(num))):
            return num  
for i in range(int(m),int(n)+1):
    if(even_digit(i)!=None):
        A.append(even_digit(i))
print(A)

Range of the numbers:-1 20
[2, 4, 6, 8, 20]